<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hibernate and Sockets test</title>
</head>


<p>Insert user</p>
<p>If name already exist then user overwrites</p>
<form action="/api/v1/sessions" method="post">
    <p>Login: <input type="text" name="name"></p>
    <p>Password: <input type="text" name = "password"></p>
    <input type="submit" value="Sign in">
</form>

<p>Delete User</p>
<form action="/api/v1/sessionsDelete" method="post">
    <p>Login: <input type="text" name="name"></p>
    <input type="submit" value="Delete">
</form>

<p>Select user from database</p>
<form action="/api/v1/sessions" method="get">
    <p>Login: <input type="text" name="name"></p>
    <input type="submit" value="Select">
</form>
<p>${name}</p>
<p>${password}</p>

<form action="/api/v1/selectAll" method="get">
    <input type="submit" value="Get all users">
</form>

<ul>
    <#list myOwnList as item>
        <li>${item}</li>
    <#else>
        No users
    </#list>
</ul>

</body>
</html>